# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Lucius\CLionProjects\Izuchaem Cpp cherez programmirovanie igr\Chapter 3\2 StringTester\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
